<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.mapper.SetmealDishMapper">

    <!--根据ids查询产生关联关系的菜品的个数-->
    <select id="getCountOfBeRelated" resultType="Integer">
        select count(*)
        from dish
        join setmeal_dish
        on dish.id = setmeal_dish.dish_id
        where dish.id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <!--保存套餐中的菜品-->
    <insert id="save">
        insert into setmeal_dish(setmeal_id, dish_id, name, price, copies)
        values
        <foreach collection="list" item="dish" separator=",">
            (#{dish.setmealId}, #{dish.dishId}, #{dish.name}, #{dish.price}, #{dish.copies})
        </foreach>
    </insert>

    <!--根据套餐ids删除对应的关联菜品-->
    <delete id="deleteBySetmealIds">
        delete from setmeal_dish
        where setmeal_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据套餐id查询套餐中的菜品-->
    <select id="getSetmealDishBySetmealId" resultType="com.sky.entity.SetmealDish">
        select id, setmeal_id, dish_id, name, price, copies
        from setmeal_dish
        where setmeal_id = #{setmealId}
    </select>

    <!--根据套餐id查询菜品列表-->
    <select id="getDishsById" resultType="com.sky.vo.DishItemVO">
        select sd.name, sd.copies, d.image, d.description
        from setmeal_dish as sd
                 join dish as d on sd.dish_id = d.id
        where sd.setmeal_id = #{id};
    </select>

</mapper>